body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    padding: 40px; /* Increased padding to create more space */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.back-to-main-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove default browser styling */
    margin-left: auto; 
}

.back-to-main-button:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
}
p {
    color: #666;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover {
    background-color: #0056b3;
}