#map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.fountain-button {
    /* Add your button styles here */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.fountain-button:hover {
    background-color: #45a049;
}

#hover-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

#hover-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

#hover-bar #search-bar {
    flex-grow: 1;
    border: none;
    margin-left: 10px;
    padding: 5px;
}

